@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
body{
     background: gray;
     text-align: center; 
     font-family: 'Zen Kurenaido', sans-serif;
} 
div{
     margin-left: 380px; 
     border: 10px solid black; 
     border-radius: 20px; 
     width: 500px;
     background: rgb(149, 190, 108);
}